{% extends 'layout/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/article_list.css' %}">
{% endblock %}

{% block content %}

    <div class="grid">
        <div class="tag">

        </div>
        <div class="content">

            {% for article in articles %}
                {% include 'article/single_article.html' %}
            {% endfor %}
            {% if is_paginated %}
                {% include 'layout/pagination.html' %}
            {% endif %}
        </div>
        <div class="recommend"></div>

    </div>
{% endblock %}

{% block js %}

{% endblock %}